:root {
  --base-color: #fff;
  --hover-color: #606c88;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: url(pics/cards_bg.jpg);
  color: #fff;
  text-shadow: 0px 0px 20px #000;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.card {
  height: 200px;
  margin: 5px;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttons {
  display: flex;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;

  > a {
    color: currentColor;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
  }
}

.menu {
  display: flex;
  text-align: center;
}

.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-visibility {
  display: none;
}

.cards-container-ai {
  position: relative;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    width: 480px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
  }
}

.cards-container {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container.no-visibility {
  display: none;
}

.cards-container-ai.no-visibility {
  display: none;
}

.final-statement {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.multiplayer-menu {
  display: flex;
  flex-direction: column;
  line-height: 57px;
}

.horizontal.isDisabled {
  cursor: not-allowed;
  > .text {
    transition: none;
    color: #fff;
  }
  &::before {
    background: #355394;
    transition: none;
  }
}

.horizontal.no-visibility {
  display: none;
}

.special-word {
  font-weight: 800;
  font-size: 1.2rem;
  color: red;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
}

.horizontal {
  text-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 60px;
  margin: 20px;
  border: 5px solid var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
  background: #355394;

  > .text {
    position: relative;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      var(--hover-color) 0%,
      var(--hover-color) 50%,
      var(--base-color) 50%,
      var(--base-color) 100%
    );
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--base-color);
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 300ms;
  }

  &:hover {
    .text {
      background-position: 0 0;
    }

    &::before {
      transform-origin: 0 0;
      transform: scale3d(1, 1, 1);
    }
  }
}
